
.vs/Smart-Mind/FileContentIndex/5e7b50d5-9862-4453-b94e-70e416ec0aeb.vsidx
.vs/Smart-Mind/FileContentIndex/5e7b50d5-9862-4453-b94e-70e416ec0aeb.vsidx
Smart-Mind.API/bin/Debug/net8.0/Smart-Mind.infrastructure.pdb
Smart-Mind.API/bin/Debug/net8.0/Smart-Mind.infrastructure.dll
Smart-Mind.API/bin/Debug/net8.0/Smart-Mind.CrossCutting.pdb
Smart-Mind.API/bin/Debug/net8.0/Smart-Mind.Application.pdb
Smart-Mind.API/bin/Debug/net8.0/Smart-Mind.CrossCutting.dll
Smart-Mind.API/bin/Debug/net8.0/Smart-Mind.Application.dll
Smart-Mind.API/bin/Debug/net8.0/Smart-Mind.API.pdb
Smart-Mind.API/bin/Debug/net8.0/Smart-Mind.API.exe
Smart-Mind.API/bin/Debug/net8.0/Smart-Mind.API.dll
.vs/Smart-Mind/v17/DocumentLayout.json
.vs/Smart-Mind/v17/.suo
.vs/Smart-Mind/v17/.futdcache.v2
.vs/Smart-Mind/FileContentIndex/e9e1146f-92f6-4c2c-8114-5157fcede1fe.vsidx
.vs/Smart-Mind/FileContentIndex/b636a8ad-b6ce-474e-8b45-6c4390234205.vsidx
.vs/Smart-Mind/FileContentIndex/a9d91336-67ba-4457-8eb6-e86b12b64f22.vsidx
.vs/Smart-Mind/FileContentIndex/993e6b32-828d-4225-a1b7-b75c0c97c337.vsidx
.vs/Smart-Mind/FileContentIndex/7d2c8b73-c6f1-4cb3-9a22-e5679b741eee.vsidx
.vs/Smart-Mind/FileContentIndex/5f82d418-49a8-418c-b4bc-670b86782f49.vsidx
.vs/Smart-Mind/FileContentIndex/5e7b50d5-9862-4453-b94e-70e416ec0aeb.vsidx
.vs/Smart-Mind/DesignTimeBuild/.dtbcache.v2
.vs/ProjectEvaluation/smart-mind.projects.v7.bin
.vs/ProjectEvaluation/smart-mind.metadata.v7.bin
